/********** Template CSS **********/
/* Prevent overflow issues */
body {
    overflow-x: hidden;
}

:root {
    --primary: #741B39;     /* Main primary color */
    --secondary: #fb8500;   /* Soft blue for secondary elements */
    --light: #f8f2f0;       /* Light background or text elements */
    --dark: #051622;        /* Dark blue for strong contrasts */
    --warning: #ffb703;     /* Accent for warnings or highlights */
    --danger: #fb8500;      /* Orange for danger or emphasis */

    --bs-primary: #741B39;   /* Main primary color */
    --bs-secondary: #fb8500; /* Soft blue for secondary elements */
    --bs-light: #f8f2f0;     /* Light background or text elements */
    --bs-dark: #051622;      /* Dark blue for strong contrasts */
    --bs-warning: #ffb703;   /* Accent for warnings or highlights */
    --bs-danger: #fb8500;    /* Orange for danger or emphasis */
}

/* Override Bootstrap's border color classes */
.border-primary { border-color: var(--primary) !important; }
.border-secondary { border-color: var(--secondary) !important; }
.border-success { border-color: var(--success) !important; }
.border-info { border-color: var(--info) !important; }
.border-warning { border-color: var(--warning) !important; }
.border-danger { border-color: var(--danger) !important; }
.border-light { border-color: var(--light) !important; }
.border-dark { border-color: var(--dark) !important; }
.border-white { border-color: #fff !important; }

/* Background colors */
.bg-primary {
    background-color: var(--bs-primary) !important;
}
.bg-secondary {
    background-color: var(--bs-secondary) !important;
}
.bg-light {
    background-color: var(--bs-light) !important;
}
.bg-dark {
    background-color: var(--bs-dark) !important;
}
.bg-warning {
    background-color: var(--bs-warning) !important;
}
.bg-danger {
    background-color: var(--bs-danger) !important;
}

/* Text colors */
.text-primary {
    color: var(--bs-primary) !important;
}
.text-secondary {
    color: var(--bs-secondary) !important;
}
.text-light {
    color: var(--bs-light) !important;
}
.text-dark {
    color: var(--bs-dark) !important;
}
.text-warning {
    color: var(--bs-warning) !important;
}
.text-danger {
    color: var(--bs-danger) !important;
}

.fw-medium {
    font-weight: 600 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-secondary {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
}

.btn-light {
    background-color: var(--bs-light);
    color: var(--bs-dark);
}

.btn-dark {
    background-color: var(--bs-dark);
    border-color: var(--bs-dark);
}

.btn-warning {
    background-color: var(--bs-warning);
    border-color: var(--bs-warning);
}

.btn-danger {
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #ce2960; /* Slightly lighter*/
    border-color: #ce2960;
}
.btn-secondary:hover, .btn-secondary:focus {
    background-color: #c46800; /* Slightly darker*/
    border-color: #c46800;
}


/* Sidebar Styles */
.feature-sidebar {
    background-color:var(--primary);
    padding: 0;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.feature-sidebar li {
    cursor: pointer;
    padding: 20px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.feature-sidebar li.bg-dark {
    background-color: #000; /* Highlighted item */
}

.feature-sidebar li:hover {
    background-color: var(--secondary);
}

/* Main Content Section */
.feature-content {
    padding: 40px;
}

/* Hide all feature descriptions by default */
.feature-description {
    display: none;
}


@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

/*** Navbar ***/
.navbar {
    background-color: var(--primary); /* Set primary color for navbar */
}

.navbar .navbar-brand {
    background-color: transparent;
    display: flex;
    align-items: center;
}

.navbar .navbar-brand h2 {
    color: #FFFFFF; /* Set logo text color to white */
}

.navbar .navbar-toggler {
    background-color: white;
}

.navbar .navbar-toggler-icon {
    color: var(--primary); /* Toggler icon color */
}


.navbar .navbar-nav .nav-link {
    color: #FFFFFF; /* Link color in navbar */
    font-size: 15px;
    text-transform: uppercase;
    position: relative; /* Enable positioning for selection bar */
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #EEEEEE; /* Slightly lighter color on hover and active */
}

/* Add selection bar under active link */
.navbar .navbar-nav .nav-link.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px; /* Height of the selection bar */
    background-color: #EEEEEE; /* Color of the selection bar */
    position: absolute;
    bottom: -5px; /* Position the bar below the text */
    left: 0;
}

.navbar .navbar-nav .nav-item {
    margin-right: 20px;
}

.logo-text {
    font-family: 'Lora', serif;   /* Use a custom font */
    font-weight: bold;                /* Make the text bold */
    color: #f0e68c;                   /* A light color for contrast */
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8); /* Soft shadow effect */
    letter-spacing: 1px;              /* Space letters slightly */
    font-size: 1.8rem;                /* Adjust font size */
}

/* Base styles */
.logo-img {
    height: 120px;
    margin-bottom: -20px;
    margin-top: -20px;
}

/* Large desktop screens */
@media (min-width: 1200px) and (max-width: 1300px) {
    .navbar .navbar-nav .nav-item {
        margin-right: 10px;
    }
    .logo-text {
        letter-spacing: 1px;
        font-size: 1.6rem;
    }
    .logo-img {
        height: 110px;
        margin-bottom: -15px;
        margin-top: -15px;
    }
}

/* Standard desktop screens */
@media (min-width: 1075px) and (max-width: 1199px) {
    .navbar .navbar-nav .nav-item {
        margin-right: 4px;
    }
    .logo-text {
        letter-spacing: 1px;
        font-size: 1.4rem;
    }
    .logo-img {
        height: 90px;
        margin-bottom: -15px;
        margin-top: -15px;
    }
    .number-text {
        font-size: 16px;
    }
    .call-icon {
        font-size: 16px;
    }
}

/*laptop screens and similar resolutions */
@media (min-width: 1024px) and (max-width: 1074px) {
    .navbar .navbar-nav .nav-item {
        margin-right: 2px;
    }
    .logo-text {
        letter-spacing: 0.5px;
        font-size: 1.2rem;
    }
    .logo-img {
        height: 80px; 
        margin-bottom: -10px;
        margin-top: -10px;
    }
    .number-text {
        font-size: 14px;
    }
    .call-icon {
        font-size: 14px;
    }
}

/* 720p laptop screens and similar resolutions */
@media (min-width: 975px) and (max-width: 1023px) {
    .navbar .navbar-nav .nav-item {
        margin-right: 2px;
    }
    .logo-text {
        letter-spacing: 0.5px;
        font-size: 1.2rem;
    }
    .logo-img {
        height: 75px; 
        margin-bottom: -10px;
        margin-top: -10px;
    }
    .number-text {
        font-size: 14px;
    }
    .call-icon {
        font-size: 14px;
    }
}

/* Tablet landscape */
@media (min-width: 768px) and (max-width: 974px) {
    .navbar .navbar-nav .nav-link {
        font-size: 14px;
    }
    .logo-text {
        letter-spacing: 1px;
        font-size: 1.4rem;
    }
    .logo-img {
        height: 80px;
        margin-bottom: -15px;
        margin-top: -15px;
    }
}

/* Tablet portrait */
@media (min-width: 576px) and (max-width: 767px) {
    .navbar .navbar-nav .nav-link {
        text-align: center;
        padding: 12px;
        font-size: 14px;
        color: #FFFFFF;
    }
    .logo-text {
        letter-spacing: 1px;
        font-size: 1.2rem;
    }
    .logo-img {
        height: 80px;
        margin-bottom: -10px;
        margin-top: -10px;
    }
    .navbar-toggler-icon {
        width: 1.5rem;
        height: 1.5rem;
        background-size: contain;
    }
}

/* Large mobile */
@media (min-width: 360px) and (max-width: 575px) {
    .navbar .navbar-nav .nav-link {
        text-align: center;
        padding: 12px;
        font-size: 10px;
        color: #FFFFFF;
    }
    .navbar-toggler-icon {
        width: 1.3rem;
        height: 1.3rem;
        background-size: contain;
    }
    .logo-text {
        letter-spacing: 1px;
        font-size: 1.0rem;
    }
    .logo-img {
        height: 50px;
        margin-bottom: -5px;
        margin-top: -5px;
    }
}

/* Small mobile */
@media (max-width: 359px) {
    .navbar .navbar-nav .nav-link {
        text-align: center;
        padding: 6px;
        font-size: 10px;
        color: #FFFFFF;
    }
    .navbar-toggler-icon {
        width: 1.2rem;
        height: 1.2rem;
        background-size: contain;
    }
    .logo-text {
        letter-spacing: 1px;
        font-size: 1.0rem;
    }
    .logo-img {
        display: none;
    }
}

/*** Header ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item h5,
    .header-carousel .owl-carousel-item p {
        font-size: 14px !important;
        font-weight: 400 !important;
    }

    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

/* .page-header {
    background: linear-gradient(rgba(6, 3, 21, .5), rgba(6, 3, 21, .5)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
} */

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** About ***/
@media (min-width: 992px) {
    .container.about {
        max-width: 100% !important;
    }

    .about-text  {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .about-text  {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .about-text  {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Feature ***/
@media (min-width: 992px) {
    .container.feature {
        max-width: 100% !important;
    }

    .feature-text  {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .feature-text  {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .feature-text  {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Service, Price & Team ***/
.service-item,
.price-item,
.team-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.service-item img,
.team-item img {
    transition: .5s;
}

.service-item:hover img,
.team-item:hover img {
    transform: scale(1.1);
}

.service-item a.btn-slide,
.price-item a.btn-slide,
.team-item div.btn-slide {
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 0;
}

.service-item a.btn-slide i,
.service-item a.btn-slide span,
.price-item a.btn-slide i,
.price-item a.btn-slide span,
.team-item div.btn-slide i,
.team-item div.btn-slide span {
    position: relative;
    height: 40px;
    padding: 0 15px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 0 35px 35px 0;
    transition: .5s;
    z-index: 2;
}

.team-item div.btn-slide span a i {
    padding: 0 10px;
}

.team-item div.btn-slide span a:hover i {
    background: var(--secondary);
}

.service-item a.btn-slide span,
.price-item a.btn-slide span,
.team-item div.btn-slide span {
    padding-left: 0;
    left: -100%;
    z-index: 1;
}

.service-item:hover a.btn-slide i,
.price-item:hover a.btn-slide i,
.team-item:hover div.btn-slide i {
    border-radius: 0;
}

.service-item:hover a.btn-slide span,
.price-item:hover a.btn-slide span,
.team-item:hover div.btn-slide span {
    left: 0;
}

.service-item a.btn-slide:hover i,
.service-item a.btn-slide:hover span,
.price-item a.btn-slide:hover i,
.price-item a.btn-slide:hover span {
    background: var(--secondary);
}


/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item {
    position: relative;
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    animation: pulse 1s ease-out .5s;
}

.testimonial-carousel .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: var(--primary);
    border: 5px solid var(--light);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--light);
    border-color: var(--primary);
}


/*** Contact ***/
@media (min-width: 992px) {
    .container.contact-page {
        max-width: 100% !important;
    }

    .contact-page .contact-form  {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .contact-page .contact-form  {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .contact-page .contact-form  {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Footer ***/
.footer {
    background: linear-gradient(rgba(6, 3, 21, .5), rgba(6, 3, 21, .5)), url(../img/map.png) center center no-repeat;
    background-size: cover;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

/*** Snackbar ***/
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on success/error */
    min-width: 250px; /* Set a minimum width */
    margin-left: -125px; /* Center the snackbar */
    background-color: #333; /* Black background */
    color: #fff; /* White text */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded corners */
    padding: 16px; /* Some padding */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%; /* Center it horizontally */
    bottom: 30px; /* 30px from the bottom */
    transition: visibility 0s, opacity 0.5s linear; /* Fade in and out */
    opacity: 0; /* Invisible by default */
}

#snackbar.show {
    visibility: visible; /* Show the snackbar */
    background-color: green;
    opacity: 1; /* Show the snackbar */
}

.error {
    background-color: red; /* Error snackbar color */
}

/*** Whatsapp Floating Button ***/
.whatsapp-float {
    position: fixed;
    bottom: 42px;
    left: 30px;
    background-color: #25d366;
    color: white;
    font-size: 24px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: all 0.3s ease;
    text-decoration: none;
}

.whatsapp-float:hover {
    transform: scale(1.1);
    background-color: #1ebe57;
}

.whatsapp-float i {
    margin: 0;
}